<%- include('../partials/headers') %>


  
<aside>
<div id="main">
        <h1>The Spool Factory</h1>
      </div>
        <aside>
        <div id="side-menu" class="side-nav">
         <a class="small material-icons">perm_identity</a>
          <a href="#">Profile</a>
          <a href="/Sandbox">Sandbox</a>
          <a href="#">Trending</a>
        </div>    
</aside>
<div id="div2">
    <h1>Create a new Spool</h1>
   
<form action="/feed" method="POST"> 
        <li><input type="text" name="Goal" placeholder="Goal" id="goal"></li>
        <label>Language:
        <select name="language">
            <option value="C">C</option>
            <option value="C++">C++</option>
            <option value="C#">C#</option>
                    <option value="Java">Java</option>
                    <option value="JavaScript">JavaScript</option>
                    <option value="PHP">PHP</option>
                 <option value="Python">Python</option>
                 <option value="Ruby">Ruby</option>
                 <option value="TypeScript">TypeScript</option>
                 <option value="Other">Other</option>
        </select>   
</label><br>

       

<li><textarea name="Input" rows="4" cols="50" placeholder="your code here"></textarea></li>

<input id="addSpool" type="submit" value="Add Spool">
</form>

   
    </div>
   <div id="spoolcard">
       
   <% spools.reverse().forEach(function(spool){ %>
    <div id="card1">
   <p> <%= spool.Goal %> </p><br>
   <p> <%= spool.language %> </p><br>
   <p>  <%= spool.Input %> </p><br>
   
  
    <form action="/feed/<%= spool._id %>?_method=DELETE" method="POST">
    <button type="submit" class="btn-small red-text">X</button>
    </form>
    <br />
    <textarea id="thread" name="thread" rows="2" cols="30">Add to spool</textarea><br>
    <hr>
   <% }); %>
   </div>
</div> <br>


    <%- include('../partials/footers') %>