<%- include('../partials/headers') %>


  
<aside>
<div id="main">
        <h1>The Spool Factory</h1>
      </div>
        <aside>
        <div id="side-menu" class="side-nav">
          <a href="#" class="small material-icons">perm_identity</a>
          <a href="/Sandbox">Sandbox</a>
          <a href="#">Trending</a>
        </div>    
</aside>
<div id="newSpool">
   
   
<form action="/feed" method="POST"> 
        <input type="text" name="Goal" placeholder="Goal" id="goal">
        <label>Language:
        <select name="language">
            <option value="C">C</option>
            <option value="C++">C++</option>
            <option value="C#">C#</option>
                    <option value="Java">Java</option>
                    <option value="JavaScript">JavaScript</option>
                    <option value="PHP">PHP</option>
                 <option value="Python">Python</option>
                 <option value="Ruby">Ruby</option>
                 <option value="TypeScript">TypeScript</option>
                 <option value="Other">Other</option>
        </select>   
</label><br>

       

<div id="editor1" name="Input"  placeholder="your code here"> Your code Here!!</div>

<input id="addSpool" type="submit" value="Add Spool">
</form>

   
    </div>
   <div id="spoolcard">
       
   <% spools.reverse().forEach(function(spool){ %>
    <div id="cards">
   <p> <%= spool.Goal %> </p><br>
   <p> <%= spool.language %> </p><br>
   <p>  <%= spool.Input %> </p><br>
   
  
    <form action="/feed/<%= spool._id %>?_method=DELETE" method="POST">
    <button type="submit" class="btn-small red-text">X</button>
    </form>
    <br />
    <textarea id="thread" name="thread" rows="auto" cols="30">Add to spool</textarea><br>
    <hr>
   <% }); %>
   </div>
</div> <br>


<script src="ace.js" type="text/javascript" charset="utf-8"></script>
<script src="ace_theme.js" type="text/javascript" charset="utf-8"></script>
<script src="mode_js.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor1");
    editor.setTheme("ace/theme/twilight");
    editor.session.setMode("ace/mode/javascript");
</script>


    <%- include('../partials/footers') %>